


body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: #fafafa;
	margin: 0px;

}
h1 {
	font-family: sans-serif;
	font-weight: 1800;
	color: #337ab7;
}
.media {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	height: 65%;
}
.title {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.user_image{

}
.user_image:hover{
	opacity: 0.7;
	filter: alpha(opacity=70);
}


.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-self: center;
	margin-top: 2vh;
}

.pagify {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	margin-top: 2vh;
	/*background-color: rgba(223, 255, 238, 0.4);*/
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	background-color: white;
	width: 480px;
	border: 1px solid #ced0d4;
	margin: 1vw;
}

.card-title {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.comment-box {
	display: flex;
	flex-wrap: wrap;
	background-color: white;
	margin: 2px 15px;
}
.card-like{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 90%;
	margin-bottom: 10px;
}

.main-container {
	display: flex;
	flex-direction: column;
	/*height: 75%;*/
	justify-content: center;
	text-align: center;
}

.pagify p {
	font-size: 3vw;
	margin-left: 10vw;
	margin-right: 10vw;
	cursor: pointer;
}

.badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #777;
  border-radius: 10px;
  margin-left: 3px;
  top: -1px;
}
.badge:empty {
  display: none;
}
.btn .badge {
  position: relative;
  top: -1px;
}

a.badge:hover,
a.badge:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
h2 {
	color: #337ab7;
}
a {
	border-radius: 4px;
	display: flex;
	font-family: sans-serif;
	font-weight: 600;
	color: #337ab7;
}
.cmt-btn {
	color: #fff;

}

.like-comment-form{
	display: flex;
	width: 100%;
	justify-content: space-around;
}

button {
	color: #337ab7;
	background-color: white;
	box-sizing: content-box;
	border: none;
	font-family: sans-serif;
	font-weight: 600;
	border-radius: 100px;
	font-size: 1em;
	/*height: 20px;
	width: 40px;*/
}
.form-control {
	display: block;
	width: 100%;
	padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #fff;
    border-top: 1px solid #ced0d4;
    border-radius: 4px;
}
hr {
	color: #555;
}
textarea {
	overflow: auto;
	font-family: inherit;
	margin: 0;
	user-select: text;
    flex-direction: column;
    resize: auto;
    cursor: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
	text-rendering: auto;
	letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    border: 1px;
}
.liked-img {
	display: flex;
	align-self: flex-start;
	margin-left: 20px;
	color: #337ab7;
}
strong {
	color: #337ab7;
}

em {
	color: #337ab7
}

.commentBox {
	display: flex;
	margin-top: 2px;
	margin-bottom: 2px;
	margin-right: 15px;
	margin-left: 15px;
	background-color: white;
}